.reveal .slides section.slide2 .fragment.arrow-down {
    border: 0;
    box-shadow: none;
    background: transparent;
    width: 20vw;
    transform: scaleY(0.8) scaleX(-1) rotate(-52deg);
}

.slide2 {
    text-align: left;
}

.slide2 .solution {
    position: relative;
    top: -220px;
    width: max-content;
}

.title-small {
    text-transform: lowercase !important;
}

.title-small:not(.top).current-fragment {
    display: block;
    text-transform: lowercase !important;
}

.title-small:not(.top):not(.current-fragment) {
    display: none;
}

.title-small.top {
    transform: translateY(0);
}

.title-small.top.visible {
    transform: translateY(-150%);
}

.slide-ast-explorer1 pre {
    min-width: 405px;
}

.slide-ast-explorer2 pre {
    font-size: 16px;
    width: fit-content;
}

.slide-ast-explorer2 pre code {
    max-height: none;
}

.slide-example0 img {
    transform: scale(1.2);
}

.slide-example1 .img-wrapper {
    display: flex;
    position: relative;
}

.slide-example1 img:first-child {
    margin-left: -145px;
    margin-right: 10px;
}

.slide-example1 .fragment {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.fit-content {
    width: fit-content !important;
}

.reveal pre code {
    max-height: none;
}

.row {
    display: flex;
    justify-content: space-between;
}

.font14 {
    font-size: 14px !important;
}

.font13 {
    font-size: 13px !important;
}
